*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.carousel-container{
    position: relative;
    width:400px;
    margin: auto;
    overflow: hidden;
   border: 1px solid black;
}
.carousel-slide{
    display: flex;
    width: 100%; 
    padding: 5px;
    /* height: 600px; */
}
img{
    width: 100%;
}
#prevBtn{
    position: absolute;
    top:50%;
    left: 0;
}
#nextBtn{
    position: absolute;
    top:50%;
    right: 0;
}